extends ./layout/index

block contenido
     main.container.mt-5
          .row
               col-md-7
                    img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid max-width align-self-start mr-3")
               col-md-7
                    h1= pagina
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae augue vitae nisl dapibus tristique mattis et nisi. Curabitur viverra volutpat mattis. Phasellus feugiat est eget quam vehicula auctor. Mauris vel elit quis turpis ornare commodo. Maecenas et diam gravida, consectetur velit non, accumsan dui. Quisque leo lacus, faucibus vel accumsan et, tristique interdum est. Proin cursus tincidunt turpis, a tincidunt lectus fermentum et. Vivamus et massa vitae lectus pharetra vestibulum eget quis nibh. Fusce dignissim ac lacus eget gravida. Fusce at pharetra ante.

                    p Aenean at ornare urna. Nulla pretium volutpat aliquet. Integer convallis ante vel est vulputate tristique. Maecenas scelerisque feugiat posuere. Praesent porttitor fermentum diam. In hac habitasse platea dictumst. Mauris ornare egestas felis porttitor cursus. Curabitur venenatis vel nibh quis posuere.

                    p Donec iaculis vehicula hendrerit. Morbi sed sem in eros convallis vulputate. Cras sit amet sollicitudin orci. Fusce ultricies tincidunt mi, suscipit bibendum elit rhoncus cursus. Fusce malesuada aliquam dolor, eget condimentum massa. Etiam vehicula porta accumsan. Integer suscipit gravida tristique. Proin tempus fringilla tincidunt. Suspendisse potenti. Proin tincidunt, nulla ut varius euismod, tellus elit ultricies lectus, et tincidunt nisi justo vitae tellus.
     .listado-iconos
          .container.mt-5.py-5.text-center
               .row
                    .col-md-4
                         img(src="img/icono_seguridad.svg",alt="icono seguridad", class="img-fluid mb-4")
                         h2.mb-4 Seguridad
                         p Proin tempus fringilla tincidunt. Suspendisse potenti. Proin tincidunt, nulla ut varius euismod, tellus elit ultricies lectus, et tincidunt nisi justo vitae tellus. 
                    .col-md-4
                         img(src="img/icono_destinos.svg",alt="icono destinos", class="img-fluid mb-4")
                         h2.mb-4 Los mejores Destinos
                         p Proin tempus fringilla tincidunt. Suspendisse potenti. Proin tincidunt, nulla ut varius euismod, tellus elit ultricies lectus, et tincidunt nisi justo vitae tellus. 
                    .col-md-4
                         img(src="img/icono_precios.svg",alt="icono precios", class="img-fluid mb-4")
                         h2.mb-4 Los Mejores precios
                         p Proin tempus fringilla tincidunt. Suspendisse potenti. Proin tincidunt, nulla ut varius euismod, tellus elit ultricies lectus, et tincidunt nisi justo vitae tellus. 
                                

     